[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
bokeh = "*"
cloudpickle = "*"
dill = "*"
h5py = "*"
ipywidgets = "*"
matplotlib = "*"
numba = "*"
numexpr = "*"
pandas = "*"
patsy = "*"
protobuf = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
statsmodels = "*"
sympy = "*"
vincent = "*"
xlrd = "*"
daal = ">=2021"
daal4py = ">=2021"
intel-openmp = ">=2021"
intel-tensorflow = ">=2.4"
lpot = ">=1.3"
mkl = ">=2021"
Cython = "*"
SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = ">=3.6"
