### scipy-notebook
beautifulsoup4
bokeh
cloudpickle
cython
dill
h5py
ipywidgets
matplotlib
numba
numexpr
pandas
patsy
protobuf
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
sympy
vincent
widgetsnbextension
xlrd

### intel-tensorflow-notebook
daal>=2021
daal4py>=2021
intel-openmp>=2021
intel-tensorflow>=2.4
lpot>=1.3
mkl>=2021
